.listItem {
  margin: 0.5em 0;
}

.box {
  padding-left: 1em;
  line-height: 1.5;
}
.box b {
  font-weight: 600;
}

.commentItem {
  border-top: 1px solid #ddd;
}
.commentItem h4 span {
  font-weight: 400;
}
